## Not sure we need all this (?) just grabbed it from the repo
## https://github.com/realpython/flask-by-example/blob/master/.gitignore

# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]

#A database dump for redis?


# C extensions
*.so

# PyCharm project configurations
.idea/

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


*.DS_Store
