<!DOCTYPE html>
<html ng-app="WordcountApp">
	<head>
		<title>Wordcount</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">

		<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

		<style>
			.container {
				max-width: 1000px;
			}

		</style>
	</head>
	<body ng-controller="WordcountController">
		<div class="container">
			<div class="row">

				<div class="col-sm-5 col-sm-offset-1">
					<h1>Wordcount 3000</h1>
					<br>
					<form role="form" ng-submit="getResults()" autocomplete="off">
						<!-- Disable autocomplete on form input elements because this causes the sites
							 to enable a captcha prompt (guess they assume it's a bot?)
						-->
						<div class="form-group">
							<input type="text" ng-model="url" name="url" class="form-control" id="url-box"
								   placeholder="Enter URL..." style="max-width: 300px;" autofocus required>
						</div>
						{% raw %}
						<button type="submit" class="btn btn-default" ng-disabled="loading">
							{{ submitButtonText }}
						</button>
						{% endraw %}
					</form>
				</div>
				<div class="col-sm-5 col-sm-offset-1">
					<h2>Frequencies</h2>
					<br>

					<div id="results">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Word</th>
									<th>Count</th>
								</tr>
							</thead>
							<tbody>
								{% raw %}
								<tr ng-repeat="(key, value) in wordcounts">
									<td>{{ key }}</td>
									<td>{{ value }}</td>
								</tr>
								{% endraw %}
							</tbody>
						</table>
					</div>
					<img class="col-sm-3 col-sm-offset-4"
							src="{{ url_for('static', filename='spinner.gif')}}" ng-show="loading">

				</div>

			</div>
		</div>

		<br><br>
	</body>
</html>
